*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(205, 203, 203);
}

.container{
    margin: auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
}

.location{
    background-color: rgb(252, 229, 233);
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:20px;
    width: 80%;
    margin: 30px auto;
    border-radius: 20px;
    border: 3px solid pink;
}

.add{
    margin: auto;
}

.title{
    padding: 10px;
}

.grocery-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-item{
    grid-column: span 2;
}

.grocery-grid>div>img{
    width: 100%;
}