*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: pointer; */
   
    font-family: Georgia, serif;
    
    
}
.container-3html{
    width:80%;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

#location-para{
    width:100%;
    height: 200px;
    border:5px solid rgb(224, 107, 134);
    background-color: rgb(246, 222, 222);
    border-radius: 50px;
    margin-top: 30px;
}

#min-add{
    width:100%;
    height: 500px;
    margin-top: 30px;
}

#content-imgs{
    display: flex;
    flex-wrap:wrap;
}
.min-fruits{
    width:100%;
    height: 400px;
}

.min-gr{
    width:100%;
    height: 400px;
    margin-left: 05px;
}

#down-angle{
    margin-left: 530px;
    font-size: 70px;
   padding-bottom: 370px;

}
