*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: pointer; */
   
    font-family: Georgia, serif;
    
    
}


.container{
    width:100%;
    height:2450px;
    /* background-color: red; */
    /* height: fit-content; */
    /* background-color: rgb(236, 236, 236); */
    scrollbar-width: none;
    overflow: hidden;
    
}
a{
    text-decoration: none;
    color:black;
    font-size: 20px;
     /* margin-top:20px;
    margin-left: 50px;   */

}

i{
    color:black;
}



.header{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width:100%;
    height: 70px;
    top:0px;
    background-color: rgb(255, 255, 255);
    /* background-color: red; */
    
}

.flipkart-img{
    
    width:150px;
    height: 70px;
    
}

input{
    font-size: 18px;
    /* margin-left: 280px; */
    /* margin-top: 10px; */
    width:50%;
    height: 45px;
   border-radius: 10px;
    border:1px solid rgb(234, 239, 249);
    background-color: rgb(234, 239, 249);
}



/* 
.input-search{
    position: relative;
} */



 #search{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:11px;
    left:240px;
    width:40px;
    height: 44px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    background-color:rgb(234, 239, 249);
    /* border:2px solid black; */
    color:rgb(123, 119, 119);
    font-size: 20px;

} 

#sections{
    display: flex;

    /* justify-content: center; */
    justify-content: space-around;
  
    width:100%;
    height:130px;
    
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
   
}
.section-a{
    font-size: 20px;
   /* padding: 50px; */
   color: rgb(0, 0, 0);
   
    
}

.section-a:hover{
    background-color: rgb(255, 255, 255);opacity: 0.7;
}

.sections-img{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    /* margin-top: 20px; */
    width:80px;
    height: 80px;
    /* padding-left: 20px; */
    /* margin-left: 20px; */
}

.a2tv{
    padding-left: 20px;
}

/* .section {
    position: relative;
    top:90px;
    right:-71px;} */
     

   
#sections{
    animation-name: sections;
    animation-duration: 2s;
    animation-timing-function:1s;
    scrollbar-width: none;
    /* animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
   
   
   
    

 }
 @keyframes sections {
   0%{opacity: 0;}
   50%{opacity: 0.5;}
   100%{opacity: 1;}

    
 }



.hero-sector{
    
    display: flex;
    /* scrollbar-width:none; */
    width:96%;
    height:auto;
    margin-top: 10px;
    margin-left: 10px;
    
    /* overflow-x:  hidden; */
    

    
 
}

.scroll{
    width:50px;
    height: 100px;
    background-color: rgb(248, 19, 19);
   
}

.adds-c{
    width:1500px;
    
    height:260px;
    padding-left: 90px;
    overflow: hidden;
     
}
   
.hero-sector{
    animation-name: hero-sector;
    animation-duration: 9s;
    animation-timing-function:1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    /* overflow: hidden; */
   
   
   
    

 }
 @keyframes hero-sector {
    0%{ transform: translateX(0%);}
    16%{transform : translateX(-110%);}
    32%{transform: translateX(-210%);}
    48%{transform: translateX(-310%);}
    64%{transform: translateX(-420%);}
    100%{transform: translateX(-525%);}

    
 }



#top-deals{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items:end;
    position: relative;
    width:1460px;
    height: 400px;
    padding-bottom: 20px;
    background-color: rgb(250, 254, 254);
    margin-left: 20px;
}

h2{
    position: absolute;
    top:20px;
    left:20px;
    font-size: 30px;
    /* margin-bottom: 330px; */
    
    


  
}

.top-deals-img{
    display: flex;
    flex-wrap: wrap;
    width:170px;
    height: 170px;
    padding: 5px;
}

.top-deals-img:hover{
    transform: scale(1.1, 1.1);
}

  


.card{
    
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
    box-shadow: 2px 2px 10px rgb(216, 209, 209);
   border-radius: 5px;
    width:190px;
    height:300px;
    
     top: 70px;
    left:10px;
} 






#plain-add{
    width:180px;
    height: 400px;
    margin-top: 10px;
    padding-right:  20px;
    border-radius: 03px;
    
}

/* #adds-plains{
    position: absolute;
    right:1px;
    top:480px;
    padding-right: 10px;
    
} */

#mh-stylish{
    margin: 20px;
    
    width:600px;
    height: 600px;
    background-color: beige;
}

/* -------------> container - 2 <----------- */

.container-2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* position: relative; */

    width:1460px;
    height: 890px;
    background-color: rgb(250, 254, 254);
    margin: 20px 20px;
}

.advertisement{
    width:467px;
    height: 500px;
    
}

/* h3{
    position: absolute;
    left:50px;
    bottom:-730px;
    font-size: 30px;
} */

.appliances-img{
    width:193px;
    height: 200px;
    margin-left: 5px;
}

.appliances-img:hover{
    transform: scale(1.1, 1.1);
}


.appliance{

    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
   
    
}

b{
    margin-left: 40px;
    color:rgb(0, 0, 0);
}

/* .para1{
    position: relative;
    top:-30px;
    left:-30px;
} */


/*----- fashion-container----- */

.fashion-parent{
    width:100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;

}

.fashion-container{
     display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
    width:450px;
    height: 550px;
    background-color:rgb(250, 254, 254);
    margin: 20px;
}

.fashion-container2{
    
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
    width:450px;
    height: 550px;
    background-color:rgb(250, 254, 254);
    margin: 20px;
    /* margin-left: 300PX; */
    /* position: relative; */
    /* top:-330px; */
    }

.f-box{
    width:200px;
    height: 250px;
    border:0.9px solid lightgrey;
    border-radius: 3px;
    
}

.f-box-no1{
    width:200px;
    height: 250px;
    border:0.9px solid lightgrey;
    border-radius: 3px;
    margin-top: 05px;
    
}


.fashion{
    
    width:150px;
    height: 150px;
    margin: 10px 22.5px;
}

.fashion:hover{
    transform: scale(1.1, 1.1);
}

.fashion-para{
    margin: 05px 25px;
   
    /* padding-bottom: 10px; */
    
}

.fashion-span{
    
    color:green;
    /* font-size: 20px; */
    font-weight: bold;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.add-couples{
    width:520px;
    height: 535px;
    position: absolute;
   top:1860px;
   right:30px;
}

/* -------------------footer---------------- */

.footer{
    margin-top: 30px;
    width:100%;
    height: auto;
    /* height:min-content; */
    background-color: rgb(236, 236, 236);
   text-align: justify;
   /* margin-bottom: 100px; */
   /* opacity: 0.6; */
   /* margin: 20px;
   padding: 20PX; */
   
}

.footer-para{
    font-size: 14px;
    line-height: 2;
    
    opacity: 0.7;
    margin: 0px 20px;
    padding: 5px;
   
}

.footer-blod{
    font-size: 20px;
    
}

.black-footer{
    display: flex;
    justify-content: flex-start;
    width:100%;
    height: auto;
    background-color: #242121;
    padding: 50px;
   
    
}

.footer-a{
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 2;
    
}

li{
    list-style: none;
}

  .ft-content, .ft-footer{
        padding: 50px;
    }

    /* .ft-p{
        margin-left: -25px;
        font-size: 20px;
        color:rgb(255, 255, 255)
    }   */
 


.ft-p{
    color:rgb(201, 204, 205);
    margin-left: -25px;
    padding: 20px;
    margin-top: 20px;
}

.ft-footer1{
    height:300px;
    border-right: 0.5px solid rgb(255, 245, 245);
    
    padding-right: 50px;
}

.ft-footer6{
    position: relative;
    bottom:500px;
    left:1150px;
}

.cards-ft{
    position: relative;
    bottom:410px;
    left:1000px;
    width:500px;
    height: 100px;
}















































































































































/* ---------------------------MOBILE WIDTH------------------------- */
/* ---------- RESPONSIVE (Max-width 567px) ---------- */
/* ==========================================================
   RESPONSIVE DESIGN
   ========================================================== */




/* ========= MAX-WIDTH 320px ========= */
@media (max-width: 320px) {


    .container{
        width: 100%;
    }
    .header {
        width:100%;
        height: 50px;
        /* background-color: blue; */
    }

    input{
        width: 10%;
        height: 15px;
        font-size:09px;
       
    }
    

    #angle-down{
        display: none;
    }

    a {
        font-size: 10px;
    }

    

    .flipkart-img {
        width: 60px;
        height:30px;
        margin-left: -30px;
        /* padding: 10px; */
    }

    #sections {
        width:100%;
        display: flex;
        justify-content: flex-start;
        /* overflow-x: scroll; */
        
    }

    .sections-img {
        width: 70px;
        height: 70px;
    }

    .adds-c{
        width:500px;
        height: 200px;
    }
      
.hero-sector{
    width:100%;
    

    animation-name: hero-sector;
    animation-duration: 9s;
    animation-timing-function:1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    /* overflow: hidden; */
   
   
   
    

 }
 @keyframes hero-sector {
    0%{ transform: translateX(0%);}
    16%{transform : translateX(-10%);}
    32%{transform: translateX(-210%);}
    48%{transform: translateX(-310%);}
    64%{transform: translateX(-420%);}
    100%{transform: translateX(-525%);}

    
 }
     
 #top-deals{
    width:100%;

    display: flex;
    flex-wrap: wrap;


    
    overflow-x:scroll ;
 }

 .top-deals-img{
    width: 100px;
    height: 100px;
 }

    h2 {
        font-size: 22px;
        display: none;
    }

    .card {
        width: 150px;
        height: 250px;
    }

    .appliance,.appliances-img,.tv-content
    {
        display: none;
    }

   

    .fashion-parent
    {
        /* margin-top: 300px; */
        
       display: none;
    }
/* 
    .fashion-container2{
        position: relative;
        left:400px;
    } */

    .fashion-container{
       display: none;
        
    }
    
    

    .add-couples{
        width:100%;
        height: 850px;
        position: relative;
        top: -1150px;
        left: 2px;
    }
    .advertisement {
        width: 100%;
        display: none;
    }

    .footer-para {
        /* font-size: 12px; */
        /* display: none; */
    }

    .black-footer{
        position: relative;
        width:320px;
        /* top: 60px; */
        /* top:-1100px;  */
         /* left:20px; */
        /* padding: 100px;
        margin-left: px;
        margin-top:500px; */
       

    }
}


/* ---------- RESPONSIVE (Max-width 567px) ---------- */

/* ---------------------->width-max 575px------------------------------ */

@media (max-width: 575px) {


   

 

  .container {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  /* ---------- HEADER ---------- */
  .header {
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    height: 70px;
    width: 100%;

    transform: scale(0.5);
  }

  .flipkart-img {
    width: 70px;
    height: 50px;
    margin-left: -20px;
  }

  input {
    width: 50%;
    height: 40px;
    font-size: 15px;
    margin-top: 8px;
    margin-left: -30px;
  }

  .login-navbar {
    font-size: 15px;
  }

  #angle-down{
    font-size: 15px;
  }
  .fa-cart-shopping,
  .fa-list-ul {
    font-size: 15px;
    margin-top: 5px;
  }

  /* ---------- SECTIONS ---------- */
  #sections {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: auto;
    margin-top: 70px;
    padding: 12px;

     

  }

  .sections-img {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  .section-a {
    font-size: 13px;
    text-align: center;
  }

  /* ---------- HERO SECTION ---------- */
   .hero-sector {
    width: 100%;
    /* margin-left: -30px; */
    /* overflow: hidden; */
  }

  .adds-c{
    width: 570px;
    height: 100px;
    padding-left: 5px;
  } 

       
.hero-sector{
    width:100%;
    

    animation-name: hero-sector;
    animation-duration: 9s;
    animation-timing-function:1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    /* overflow: hidden; */
   
 }

 .hero-sector>div{
    width: 100%;
 }

 @keyframes hero-sector {
    0%{ transform: translateX(0%);}
    16%{transform : translateX(-110%);}
    32%{transform: translateX(-210%);}
    48%{transform: translateX(-310%);}
    64%{transform: translateX(-420%);}
    100%{transform: translateX(-525%);}

    
 }

  /* ---------- TOP DEALS ---------- */
  #top-deals {
   width:100%;
    /* display: flex;
    flex-wrap: wrap; */
     display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    height: auto;
    margin-top: 70px;
    /* padding: 12px; */
  }

  h2 {
    /* position: relative;
    top:-200px;
    padding: 10px; */
    display: none;
  }

  .card {
    width: 100px;
    height: 100px;
    margin: 10px 0;
  }

  .top-deals-img {
    width: 150px;
    height: 150px;
  }

  /* ---------- CONTAINER 2 ---------- */
  .container-2 {
    width: 100%;
    height: auto;
    margin: 12px 0;
    padding: 12px;
    display: none;
  }

  .advertisement {
    /* position: relative; */
    width: 100%;
    height: auto;
    
    margin-bottom: 100px;

  }

  .appliances-img {
    display: flex;
    /* justify-content: center; */
    width: 90px;
    height: 90px;
    /* display: none; */
  }

  b {
    /* display: block; */
    text-align: center;
    margin-left: 0;
  }

  /* ---------- FASHION SECTION ---------- */

  .fashion-parent{
    overflow-x: scroll;
  }




  .fashion-container,
  .fashion-container2 {

    display: flex;
    flex-wrap: wrap;
    width: 48%;
    height: 150px;
    margin-top: 150px;
  }

  

 .fashion-container2{
    margin-left: 300px;
    margin-top: -290px;
 }


  .f-box,
  .f-box-no1 {
    width: 46%;
    height: 190px;
  }

  .appliance-card{
    /* display: none; */
    width:200px;
    /* height: 200px; */
    border-radius: 5px;
    margin: 20px;
    box-shadow: 3px 3px 40px rgb(176, 176, 176);
    
  }

  .fashion {
    width: 60px;
    height: 60px;
    /* padding-left: 20px; */
  }

  .fashion-para {
    font-size: 13px;
    text-align: center;
  }

  /* ---------- ADD IMAGE ---------- */
  .add-couples {
   display: none;  }

  /* ---------- FOOTER ---------- */
  .footer {
    width: 100%;
  }

  .footer-para {
    font-size: 13px;
    margin: 0 12px;
  }

  .footer-blod {
    font-size: 17px;
  }

  .black-footer {
    display: flex;
    flex-direction:column;
    height:auto;
    padding: 20px;
    margin-top: 20px;
  }

  .ft-p {
    font-size: 15px;
    margin-left: 12px;
  }

  .footer-a {
    font-size: 13px;
  }

    }



/* --------------------------------------------->screen size{max-width--767.98px}----------------------------------------------------------------------------------------- */

@media (max-width:767.98px){

    

    #sections{
        
        
        overflow-x: scroll;
    }

    

    .add-couples{
        display: none;
    }

    

    
    #top-deals{
        width:95%;
        padding-top: 100px;
        margin-top: 100px;
        overflow-x: scroll;
        
    }
    
    
    .container-2{
        width:100%;
        margin-left: 35px;
        overflow-x: scroll;
    }

    .advertisement{
        width:700px;
    }

    .fashion-parent{
        /* margin-left: 150px; */
        width:100%;
        overflow-y: scroll;
    }

    .ft-content, .ft-footer{
        padding: 50px;
    }

    .ft-p{
        margin-left: -25px;
        font-size: 20px;
        color:rgb(255, 255, 255)
    }
    
}

/* ---------------max-width:991--- */

 @media (max-width:991.98px){

    #top-deals{
        padding-top: 100px;
        width:100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 05px;
        height: auto;    
    }

    .container-2{
        margin-left: 100px;
        width:80%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        
    }

    .advertisement{
        width:100%;
        height: 500px;
    }

    .appliance-card{
        padding: 30px;
    }

    .card{
        width:300px;
        height: 300px;
        padding: 20px;
    }

    .fashion-parent{
        /* width:100%; */
        /* overflow-y: scroll; */

    }

 .add-couples{
        display: none;
    }

   .ft-content, .ft-footer{
        padding: 50px;
    }

    .ft-p{
        margin-left: -25px;
        font-size: 20px;
        color:rgb(255, 255, 255)
    }  
 }